<section class="categories-container">
  <div class="categories_menu">
    <h2 class="categories_h">Exercises</h2>
    <div class="categories_button">
      <button id="bodyPartsButton" class="filter">Body parts</button>
      <button id="musclesButton" class="filter">Muscles</button>
      <button id="equipmentButton" class="filter">Equipment</button>
    </div>
  </div>
  <div class="home">
    <div class="gallery-container">
      <div class="filter-gallery" id="imageFilterGallery"></div>
      <div class="pagination-container" id="pagination" current></div>
    </div>
    <load ="partials/quotes.html" />
  </div>
</section>
