<footer class="footer">
  <div class="container footer-container">
    <div class="footer-section-1">
      <div class="footer-conteiner-logo">
        <a href="./index.html">
          <svg class="footer-logo" width="132" height="24">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-list-soc">
          <li class="footer-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="soc-logo"
              target="_blank"
            >
              <svg class="social-footer-icon" width="40px" height="40px">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="soc-logo"
              target="_blank"
            >
              <svg class="social-footer-icon" width="40px" height="40px">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="soc-logo"
              target="_blank"
            >
              <svg class="social-footer-icon" width="40px" height="40px">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-section-2">
        <h2 class="footer-title">
          Transforming your <span class="footer-span">body</span> shape with us
        </h2>
        <div class="footer-form-container">
          <h3 class="footer-text-1">
            Subscribe and learn about new exercises!
          </h3>
          <form id="subscriptionForm" class="footer-form">
            <label for="email">
              <input
                placeholder="Email"
                class="footer-input-form"
                type="email"
                id="email"
                name="email"
                required
              />
            </label>
            <button type="submit" class="footer-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="text-container-1">
      <p class="footer-text-2 footer-credo">
        Your Energy. All rights reserved.
      </p>

      <div class="text-container-2">
        <div class="footer-privacy">
          <p class="footer-text-2">
            <a href="" class="footer-link">Privacy Policy </a>
          </p>
          <p class="footer-text-2">/</p>
          <p class="footer-text-2">
            <a href="" class="footer-link">Terms of Service </a>
          </p>
        </div>
        <p class="footer-text-3 footer-text-2">©2023</p>
      </div>
    </div>
  </div>
</footer>
