.sidebar {
    background-color: #F4F4F4;;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-quote {
    border-radius: 20px;
    background-color: #242424;
    padding: 20px; 
    position: relative;
    display: flex;
}

.sidebar-quote div{
    display: flex;
}

.quote-run-span{
    left: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: rgba(244,244,244,.2);
}

.quote-run-icon {
    fill: #F4F4F4;
}

.quote-words{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}

.quote-subtitle{
    color: #F4F4F4;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 6px;
}

.quote{
    color: rgba(244, 244, 244, 0.60);
    font-size: 14px;
    line-height: 1.28; 
    margin-bottom: 16px;
}

.author{
    color: #F4F4F4;
    font-size: 14px;
    line-height: 1.28;
}

.quote-icon-mark {
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    fill: var(--text-color-light);
}

.quote-image{
    border-radius: 20px;
}

.sidebar-text {
    border-radius: 20px;
    background-color: #FFF;
    padding: 20px;
    display: flex;
}

.quotes-span-container{
}

.quote-dumbbell-span{
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #242424;
}

.quote-text-icon {
    fill: var(--text-color-light);
}

.quote-text-subtitle {
    color: #242424;
    font-size: 20px;
    font-weight: 500;
    line-height: 1; 
}
.quote-daily {
    color: rgba(36, 36, 36, 0.60);
    font-size: 14px;
    line-height: 1.28;
}

.quote-text-info {
    color: #242424;
    font-size: 14px;
    line-height: 1.28;
}

.quote-info{
    margin-left: 18px;
}

/* Media */