.sidebar {
    background-color: #F4F4F4;;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-quote {
    border-radius: 20px;
    background-color: #242424;
    padding: 20px; 
    position: relative;
    display: flex;
}

.sidebar-quote div{
    display: flex;
}

.quote-run-span{
    left: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: rgba(244,244,244,.2);
}

.quote-run-icon {
    fill: #F4F4F4;
}

.quote-words{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}

.quote-subtitle{
    color: #F4F4F4;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 6px;
}

.quote{
    color: rgba(244, 244, 244, 0.60);
    font-size: 14px;
    line-height: 1.28; 
    margin-bottom: 16px;
}

.author{
    color: #F4F4F4;
    font-size: 14px;
    line-height: 1.28;
}

.quote-icon-mark {
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    fill: var(--text-color-light);
}

.quote-image{
    border-radius: 20px;
}

.sidebar-text {
    border-radius: 20px;
    background-color: #FFF;
    padding: 20px;
    display: flex;
}

.quote-dumbbell-span{
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #242424;
}

.quote-text-icon {
    fill: var(--text-color-light);
}

.quote-text-subtitle {
    color: #242424;
    font-size: 20px;
    font-weight: 500;
    line-height: 1; 
    margin-bottom: 4px;
}
.quote-daily {
    color: rgba(36, 36, 36, 0.60);
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 16px;
}

.quote-text-info {
    color: #242424;
    font-size: 14px;
    line-height: 1.28;

    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.quote-info{
    margin-left: 18px;
}

/* Media */
@media screen and (min-width: 768px){
    .sidebar-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 16px;
        row-gap: 32px;
    }

    .sidebar-quote{
        max-width: 400px;
        padding: 40px;
    }
    .quote-icon-mark{
        right: 40px;
        top: 40px;
    }
    .quote-subtitle{
        color: #F4F4F4;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.33;
    }

    .quote{
        margin-bottom: 18px;
    }
    
    .author{
        font-size: 16px;
        line-height: 1.5;
    }

    .sidebar-picture{
        max-width: 288px;
        width: 100%;
    }

    .quote-image{
        max-width: 288px;
        height: 249px;
    }

    .sidebar-text{
        max-width: 400px;
        padding: 40px;
    }
    .quote-text-subtitle{
        font-size: 24px;
        line-height: 1.33; 
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 1280px){
    .sidebar-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
}
    .quote-image{
        max-width: 444px;
        height: 242px;
}

    .sidebar-quote{
        max-width: 444px;
    }

    .sidebar-text{
        max-width: 444px;
    }
    .quote-text-info{
        display: block;
    }
}