:root {
    --text-color-dark: #242424;
    --text-color-light: #F4F4F4;
    --stars-golden: #EEA10C;
    --pagination-grey: #D4D4D4;
    --copywright-text: #C6CDD1;
    --exercise-card-white: #FFFFFF;

    --main-font: 'NeueMontrealRegular'; /* 400 font weigth */
    --exercises-font: 'NeueMontrealMedium'; /* 500 */
    --span-font: 'NeueMontrealItalic'; /* 400, font-style: italic */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--main-font);
    background-color: #F4F4F4;
}